/* function, we add an input checkbox which we hide .final_click
just to keep track of the state. Then we add label with button class
and bound to that hidden input through "for = "final_click" (keeping the state)
So when we open the modal, the state changes, and then when we close it, the state comes back
to its previous form. */

.final__button {
    cursor: pointer;
}

a {
    background: #3498db;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;

}

/* overlay is making the screen go darker */

.final__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #333333;
    /* so that clicking shouldnt register anything */
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* ~ refers to any sibling of that element
so when its checked we get the overlay element */
input[type="checkbox"]:checked~.final__overlay {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.final__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.1s;
}

input[type="checkbox"]:checked~.final__modal {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.final__modal__content {
    display: block;
    padding: 30px;
    background-color: #ffffff;
}